---
---
$baseurl: "{{ site.baseurl }}";

html, body {
  margin:0;
  padding:0;
}

.fonts-loaded {
  a, span, p { font-family:"Nunito Sans", 'Lucida Sans', sans-serif; }
  h1, h2, h3 { font-family:"Lato", Helvetica, sans-serif; }
  mark { font-family:'Righteous', sans-serif; }
}

a { text-decoration:none; }
a, span, p, h1, h2, h3, i { color:#3A241A; }
a, span, p { font-family:'Lucida Sans', sans-serif; }
h1, h2, h3, mark {
  margin:0;
  font-family:Helvetica, sans-serif;
}
mark { background-color:transparent; }

svg {
  width:16px;
  aspect-ratio:1.0;
  fill:#3A241A;
  display:block;
  margin:auto;
}

button {
  border:none;
  background:none;
  padding:0;
}

/* Disable default input cancel button */
input::-ms-clear,
input::-ms-reveal{
	display:none;
  width:0;
  height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

@import 'vars';
@import 'layout';

:root{
  --pagewidth-desktop:calc(max(min(100vw - #{$sidebarwd} - 2rem, #{$contentwd}), 44rem));
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem
}

.alert-heading {
  color: inherit
}

.alert-link {
  font-weight: 700
}

.alert-dismissible {
  padding-right: 3.8125rem
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: .75rem 1.25rem;
  color: inherit
}

.alert-primary {
  color: #2f2676;
  background-color: #dedbf9;
  border-color: #d1ccf7
}

.alert-primary hr {
  border-top-color: #bdb6f4
}

.alert-primary .alert-link {
  color: #201a4f
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db
}

.alert-secondary hr {
  border-top-color: #c8cbcf
}

.alert-secondary .alert-link {
  color: #202326
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb
}

.alert-success hr {
  border-top-color: #b1dfbb
}

.alert-success .alert-link {
  color: #0b2e13
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb
}

.alert-info hr {
  border-top-color: #abdde5
}

.alert-info .alert-link {
  color: #062c33
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba
}

.alert-warning hr {
  border-top-color: #ffe8a1
}

.alert-warning .alert-link {
  color: #533f03
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb
}

.alert-danger hr {
  border-top-color: #f1b0b7
}

.alert-danger .alert-link {
  color: #491217
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe
}

.alert-light hr {
  border-top-color: #ececf6
}

.alert-light .alert-link {
  color: #686868
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca
}

.alert-dark hr {
  border-top-color: #b9bbbe
}

.alert-dark .alert-link {
  color: #040505
}

@import "sidebar";
@import "navigation";
@import "pagination";
@import "toc";
@import "post";
@import "search";
@import "darkmode";